body {
    color: gray;
    font-size: 110%;
    font-family: 
        "Helvetica Neue Light", 
        "Helvetica Neue", 
        "Helvetica", 
        "Arial", 
        "Lucida Grande", 
        sans-serif;
    font-weight: 500;
}

a {
  color: rgb(150, 150, 200);
}

#info {
  position: fixed;
  z-index: 100;
  bottom: 0px;
  right: 0px;
  color: rgb(150, 150, 150);
  padding: 1em;
}
