<style type="text/css">
  body {
    background-image: url("{{ url_for('static', filename="img/woods.jpg") }}");
    background-size: 100%;
  }

audio {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 100;
    opacity: 0.5;
  }

body_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  background-image: url("{{ url_for('static', filename="img/woods_overlay.png") }}");
  background-size: cover;
  z-index: 7;
}

@-webkit-keyframes fireflies {
  
0% { opacity: 0; }
 
4%, 6% { opacity: 0; -webkit-transform: scale(0.4); }
5% { opacity: 1; -webkit-transform: scale(1.2); }

9%, 11% { opacity: 0; }
10% { opacity: 1; }

19%, 22% { opacity: 0; -webkit-transform: scale(1); }
20% { opacity: 1; -webkit-transform: scale(1.3); }

29%, 31% { opacity: 0; -webkit-transform: scale(1.8); }
30% { opacity: 1; -webkit-transform: scale(0.8); }

39%, 41% { opacity: 0; -webkit-transform: scale(0.4); }
40% { opacity: 1; -webkit-transform: scale(1.1); }

50% { left: 50%; top: 50%; }

59%, 61% { opacity: 0; }
60% { opacity: 1; }

69%, 71% { opacity: 0; left: 53%; top: 53%; }
70% { opacity: 1; left: 54%; top: 54%; }

79, 81% { opacity: 0; -webkit-transform: scale(1.6); }
80% { opacity: 1; -webkit-transform: scale(0.6); }

89%, 91% { opacity: 0; -webkit-transform: scale(1); }
90% { opacity: 1; left: 58%; top: 58%; -webkit-transform: scale(1.5); }

100% { opacity: 0; }

} /* end keyframes */

body {
  background-color: black;
}
/* Design for All Firefly Elements */
.firefly {
  -webkit-animation-name: fireflies;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 41s; /* a default duration */
  top: 4%; /* a default location, top */
  left: 4%; /* a default location, left */
  position: fixed;
  opacity: 0;
  width: 8px;
  height: 8px;
  border-radius: 12px;
  background-color: {{ color }};
  box-shadow:
  0px 0px 4px {{ color }},
  0px 0px 6px {{ color }},
  0px 0px 12px {{ color }},
  0px 0px 35px {{ color }},
  0px 0px 72px {{ color }},
  0px 0px 144px {{ color }};
  pointer-events: none; /* make click-through-able */
}

.firefly:nth-child(odd) { -webkit-animation-direction: alternate-reverse; }
.firefly:nth-child(even) { -webkit-animation-direction: alernate; }

{% for i in range(1,8) %}
.firefly:nth-child({{ i }}) { 
  top: {{ range(4,96)|random() }}%;
  left: {{ range(4, 96)|random() }}%;
  z-index: {{ range(1, 12)|random() }};
  -webkit-animation-duration: {{ range(71,221)|random() }}s;
  -webkit-animation-delay: {{ range(60)|random() }}s;
}
{% endfor %}

}
</style>
<audio loop="loop" autoplay="autoplay" controls="controls">
<source src="{{ url_for('static', filename="mp3/cicada.mp3") }}" type="audio/mpeg">
Your browser does not support this audio element.
</audio>

<body_overlay></body_overlay>
{% for i in range(1,8) %}
<div class="firefly"></div>{% endfor %}
